* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

body {
    display: grid;
    grid-template-columns: 260px 1fr;
    grid-template-rows: 80px 1fr;
    background-color: #FFFFFF;
    max-width: 1920px;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

$purple: #5957DB;
$lightPurple: #ECF2FF;
$white: #FFFFFF;
$green: #43D000;



