header.header
    .container.header--container.grid
        a(href="").header--logo-link
            img(src="./images/Abojur.svg", alt="").header__logo-img
            p Студия дизайнерского
            p текстиля в Санкт Петербурге

        a(href="tel:+74951234567").header__tel-link  +7 (981) 857-46-24
            p.header__tel-order заказать звонок

        address.header__address Санкт Петербург, набережная реки Карповки, дом 5, литер П

        button.header__burger-btn
