header.header
    a(href="").header__logo
    ul.header__breadcrumbs-list
        li.header__breadcrumbs-item
            a(href="").header__breadcrumbs-link Главная
        li.header__breadcrumbs-item
            a(href="").header__breadcrumbs-link Сеансы
        li.header__breadcrumbs-item
            a(href="").header__breadcrumbs-link Кекс наносит ответный удар
    a(href="").header__cinema-name Кинотеатр «На Карповке»
