nav.nav
    ul.nav__list
        li.nav__item
            img(src="./images/nav1.svg", alt="")
            a(href="").nav__link Сеансы
        li.nav__item
            img(src="./images/nav2.svg", alt="")
            a(href="").nav__link Трейлеры
        li.nav__item
            img(src="./images/nav3.svg", alt="")
            a(href="").nav__link Новости
        li.nav__item
            img(src="./images/nav4.svg", alt="")
            a(href="").nav__link О нас
        li.nav__item
            img(src="./images/nav5.svg", alt="")
            a(href="").nav__link Контакты
    a(href="").nav__profile
        img(src="./images/avatar.png", alt="").nav__profile--img
        p.nav__profile--p Аккаунт
            