nav.nav
    ul.nav__list
        li.nav__item
            a(href="") Сеансы
        li.nav__item
            a(href="") Сеансы
        li.nav__item
            a(href="") Сеансы
        li.nav__item
            a(href="") Сеансы
        li.nav__item
            a(href="") Сеансы
    a(href="")
        img(src="./images/avatar.png", alt="")
        p Аккаунт
            